:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #140F2d;
    font-family: 'Kumar One', 'EB Garamond';
    color: #F0E2A3; 
}

.container {
    margin: 0 auto;
    width: 60%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:  flex-end;
    flex-wrap: wrap;
    /* border-bottom: 1px dashed pink; */
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    color: #F0E2A3;
}

h1 {
    margin-bottom: 0px;
    font-family: 'Concert One';
    color: pink;
}

nav {
    font-family: 'Concert One';
    text-transform: uppercase;
    display: flex;
    gap: 10px;
}

nav a {
    /* flex: 1; */
    box-shadow: inset 0 0 0 0 yellow;
    color: pink;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

nav a:hover {
    box-shadow: inset 100px 0 0 0 #F0E2A3;
    color: #140F2d;
  }

main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.content {
    flex: 66.67%;
    background-color: #422C44;
    padding: 10px;
    padding-top: 0;
}

#-june-9-2023, #-june-8-2023 {
    color: pink;
    margin: 0;
    /* text-transform: uppercase; */
    font-family: 'EB Garamond';
    border-bottom: 1px dashed pink;
}

.sidebar {
    /* text-align: right; */
    flex: 30%;
}

.sidebar img {
    height: 200px;
    border: 5px solid pink;
}

.recently-read {
    text-align: center;
}

.sidebar p {
    margin: 0;
}

.sidebar2 {
    flex-grow: 1;
    text-align: right;
}

#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 5px solid midnightblue;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    width: 200px;
}

#statuscafe a {
    color: blue;
    text-decoration: underline;
}

#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.sidebar h3 {
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: pink;
}

.big {
    font-size: 2em;
}

.likes-reading {
    background-image: url("/images/reading.jpg");
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid pink;
}

.likes-reading a {
    background-color: black;
}

.animate-charcter
{
   text-transform: uppercase;
   background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin-bottom: 0;
        /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.blue {
    color: blue;
}
.pink {
    color: pink;
}
.purple {
    color: purple;
}